In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output
# Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
# score
from sklearn.metrics import f1_score

train_ds=pd.read_csv(r'C:\\Users\\79375\\Desktop\\DS\\sber\\train.csv')
test_ds=pd.read_csv(r'C:\\Users\\79375\\Desktop\\DS\\sber\\sample_submission.csv')

test_ds['user_id'] = test_ds['id'].apply(lambda x: int(x.split(';')[0]))
test_ds['cart'] = test_ds['id'].apply(lambda x: int(x.split(';')[1]))
test_ds.drop('id', axis=1, inplace=True)
train_ds.drop('order_completed_at', axis=1, inplace=True)
train_ds['target'] = train_ds.duplicated(keep=0).apply(lambda x: 1 if x == 1 else 0)

In [127]:
top_test=test_ds[['target','cart']].groupby('cart').sum().sort_values(by='target',ascending=False)
top_test=top_test[0:20]

In [128]:
id_tuple=pd.Series(train_ds['user_id'].drop_duplicates())
id_tuple=id_tuple.sort_values()

In [129]:
def procent(id_tuple_test):
    progress=id_tuple_test.count()
    i=0
    procent=[]
    while i <=100 :
        procent.append(int(round((progress/100)*i,0)))
        i+=1
    return procent

In [115]:
castomers_buy_map=[]
lap=1
process=procent(id_tuple)
for index in id_tuple:
    castomer_top_cart=train_ds.loc[(train_ds['target']==1) & (train_ds['user_id']==index)]
    castomers_buy_map.append(castomer_top_cart)
    if index in process:
        clear_output()
        print(lap,' %')
        lap+=1

100  %

In [117]:
top_carts=train_ds[['target','cart']].groupby('cart').sum().sort_values(by='target',ascending=False)
top_carts=top_carts[0:100]
top_carts=pd.Series(top_carts.index)

0      57
1      14
2      61
3     398
4      23
     ...
95    434
96    172
97    408
98    134
99     63
Name: cart, Length: 100, dtype: int64

In [118]:
x_test=test_ds[['user_id','cart']]
y_test=test_ds['target']

In [119]:
process=procent(y_test)
lap=1
tube_index_carts=[]
for i in range(y_test.count()):
    index_id=[]
    carts=x_test.iloc[i]['cart']
    index=x_test.iloc[i]['user_id']
    index_id.append(carts)
    index_id.append(index)
    tube_index_carts.append(index_id)
    if i in process:
        clear_output()
        print(lap,' %')
        lap+=1

100  %

In [120]:
test_ds['cart'].count()

790449

In [121]:
Submis=pd.DataFrame()
process=procent(test_ds['cart'])
lap=1
id_index_map=[]
carts_map=[]
predict_map=[]
index=1
for carts,index  in tube_index_carts:
    if (carts in pd.Series(castomers_buy_map[index]['cart']))and(carts in top_carts) :
        id_index_map.append(index)
        carts_map.append(carts)
        predict_map.append(1)
    if (carts in pd.Series(castomers_buy_map[index]['cart'])) and not (carts in top_carts):
        id_index_map.append(index)
        carts_map.append(carts)
        
        predict_map.append(1)
    if (carts in top_carts)and not (carts in pd.Series(castomers_buy_map[index]['cart'])):
        id_index_map.append(index)
        carts_map.append(carts)
        predict_map.append(0)
    else:
        id_index_map.append(index)
        carts_map.append(carts)
        predict_map.append(0)
    
    if index in process:
        clear_output()
        print(lap,' %')
        lap+=1  
    index+=1
Submis['user_id']=id_index_map
Submis['cart']=carts_map
Submis['target']=predict_map
Submis

110  %

        user_id  cart  target
0             0   133       0
1             0     5       0
2             0    10       0
3             0   396       0
4             0    14       0
...         ...   ...     ...
790542    19998    26       0
790543    19998    31       0
790544    19998    29       0
790545    19998   798       0
790546    19998   415       0

[790547 rows x 3 columns]

[133, 0]

In [141]:
train=train_ds[train_ds['user_id']==0]
train[train['cart']==]

         user_id  cart  target
2422913        0    20       0
2422914        0    82       1
2422915        0   441       1
2422916        0    57       1
2422917        0    14       1
2422918        0   405       1
2422919        0   430       0
2422920        0   379       1
2965135        0   133       0
2965136        0     5       0
2965137        0    26       0
2965138        0    10       0
2965139        0   382       0
2965140        0    14       1
2965141        0    22       0
2965142        0    41       0
2965143        0    25       0
2965144        0   441       1
2965145        0   411       0
2965146        0   799       0
2965147        0   432       0
2965148        0    84       1
2965149        0    83       0
2965150        0   383       0
2965151        0   409       0
2965152        0   821       0
2965153        0   405       1
2965154        0   402       0
2965155        0    57       1
2965156        0   396       0
2965157        0   379       1
2965158        0    82       1
2965159        0   157       0
3097178        0   803       0
3097179        0   170       0
3097180        0    84       1
3097181        0    61       0
3097182        0   440       0
3097183        0    57       1
3097184        0    55       0
3097185        0   401       0
3097186        0   398       0
3097187        0   399       0
3097188        0   169       0